body {
  background-color : yellow
}

h1{
  background-color: powderblue
}

th, td {
    padding: 10px;
}
th {
  background-color: powderblue
}
th{
  text-align: left;
}
td{
  text-align: left;
}
